#iiicolleft {
    float:left;
    width: 120px;
    margin: 0;
    text-align: right;
   }
   #iiicolcontent {
    margin: 0 0 0 110px;
   }
   
   .clearer{
    height:1px;
    overflow:hidden;
    margin-top:-1px;
    clear:both;
   }

   .logo{
    margin-right: -15px;
    margin-left: -15px;
   }

   .fullWidthContainer{
    width: 100%;
    min-width: 200px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    overflow: hidden;
   }

   .pr15{
       padding-right: 15px;
   }

   .pr40{
    padding-right: 40px;
}

   .pt15{
       padding-top: 15px;
   }